@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './components/buttons.css';
@import './components/scrollbar.css';
@import './components/speech-bubble.css';
@import './components/nprogress.css';

@layer base {
  h1,
  h2,
  h3,
  h4,
  h6,
  a,
  p {
    @apply font-poppins;
  }

  input:focus {
    @apply outline-none;
  }

  body {
    overflow-x: hidden;
  }

  body::-webkit-scrollbar {
    width: 8px;
    background: #e5e5e5;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-gold;
    @apply rounded-full;
  }
}
